<?xml version="1.0" encoding="utf-8"?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="companyName" value="One Identity"/>
  <variable name="productTitle" value="One Identity Manager"/>
  <variable name="appName" value="LogfileAnalyzer"/>
  <variable name="logBaseDir" value="${specialfolder:LocalApplicationData}/${companyName}/${productTitle}/${appName}"/>

  <variable name="layout" value="${longdate} ${level:upperCase=true} (${logger} ${event-context:item=SessionId}) : ${event-context:item=Indention}${message} ${exception:format=ToString,StackTrace}"/>
  <variable name="remoteLayout" value="${longdate} ${level:upperCase=true} ${machinename} ${processname} ${windows-identity} (${logger} ${event-context:item=SessionId}) : ${event-context:item=Indention}${message} ${exception:format=ToString,StackTrace}"/>
  <targets>
    <target name="logfile" xsi:type="File" fileName="${logBaseDir}/${appName}.log" layout="${layout}" encoding="utf-8" archiveFileName="${logBaseDir}/${appName}.{#}.log" maxArchiveFiles="7" archiveEvery="Day" archiveNumbering="Rolling"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile"/>
  </rules>
</nlog>
